 body {
            font-family: "Agency FB";
            font-size: 16px;
            background: url("../tweed.png");
            margin: 0;
            padding:0;
            overflow-x:hidden;
            min-width: 1300px;
        }

.menu{
    margin:0;
    padding:0;
    background: rgba(75,75,75,.7);
}.menu li{
    display:inline;
    padding:0;
    margin:0 12.5px;
}.menu li a{
    text-decoration:none;
    font-size: 24px;
    color:#FFF;
}.menu li a:hover{
    text-shadow: 2px 2px 5px #000;
}

.lower{
  margin-top:25%;
}


        #bingo_table{
           -webkit-touch-callout: none;
           -webkit-user-select: none;
           -html-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;
           width:100%;
           margin: 0px auto;
           padding:0px;
           margin-left:60px;
        }

        .header img{
           float:left;
           position:absolute;
           top:40px;
           left:0;
           width:350px;
           margin:0;
           padding:0;
        }

        .cell, .news {
           height:auto;
          padding:0;
          text-align: center;
            height: 100px;
            background-color: #BBB;
            margin: .5%;
            box-shadow:1px 1px 5px #000;
            border-radius: 10px;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            
        }.newsbg{
          background:#84ff00;
          border: 5px solid #08cf00;
        }

            .cell:hover {
                border: 5px solid #08cf00;
                background:#84ff00;
            }

        .selected {
            background: #84ff00;
            border: 5px solid #08cf00;
        }

        .hidden{
           visibility:hidden;
        }

        .heading{
           text-align: center;
           width:17.5%;
           color:#FFF;
        }

        .heading h1{
           font-size:96px;
        }
        .colhead{
           position:absolute;
           left:-8%;
           bottom:0;
           margin:0;
           padding:0;
          color:#FFF;
        }

        .colhead h1{
           font-size:96px;
           vertical-align: middle;
           text-align: center;
        }

        .col-xs-2{
           min-width: 110px;
        }

@media screen and (max-device-width: 1300px), (max-width: 1300px){
  body{
    overflow-x:scroll;
  }
}


/**
 * UPDATES
 *
 * -august 23rd 2017
 *
 * -added reset button to clear the board
 */
.suckit{
  width:100%;
  margin:0 auto;
}
.reset{
  width:inherit;
  padding:10px;
  margin:50px auto;
  font-size:56px;
  background:#FFF;
  border:solid 1px #333;
  color:#333;
}.reset:hover{
  background:#CCC;
  border:solid 1px #000;
  color:#FFF;
}

.sauron{
  background:#F00 !important;
  color:#FFF;
  border:none;
}

.white{
  background:#FFF;
  color:#000;
  border:none;
}

.black{
  background:#000;
}


.disabled{
  pointer-events: none;
}